@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --light: #f6e58d;
}

* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}
.btn {
  border: 0;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
  padding: 12px 20px;
  letter-spacing: 1px;
  box-shadow: 0 3px #f9ca2480;
}

.new {
  position: fixed;
  bottom: 40px;
  color: #fff;
  background-color: #333333;
}

.btn:focus {
  outline: none;
}
.btn:focus-visible {
  outline: 1px solid lightblue;
}

.btn:active {
  box-shadow: none;
  transform: translateY(2px);
}

.magic {
  background-color: #f9ca24;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  top: 20px;
  z-index: 10;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  height: 500px;
  width: 500px;
  transition: 5s ease;
}

.boxes.big {
  width: 600px;
  height: 600px;
}
.boxes.big .box {
  transform: rotateZ(720deg);
}

.box {
  background-image: url(https://media.giphy.com/media/QveszxozRFGcgePH2r/giphy.gif);
  background-repeat: no-repeat;
  background-size: 500px 500px;
  position: relative;
  height: 125px;
  width: 125px;
  transition: 5s ease;
}

.box::after {
  content: '';
  background-color: #333333;
  position: absolute;
  top: 8px;
  right: -15px;
  height: 100%;
  width: 15px;
  transform: skewY(45deg);
}

.box::before {
  content: '';
  background-color: #000;
  position: absolute;
  bottom: -15px;
  left: 8px;
  height: 15px;
  width: 100%;
  transform: skewX(45deg);
}
